/* ******************************************************
 *
 *   Comprehensive Map Gallery using leaflet - style css
 *
 *   Author: Luyu Liu 
 *   Contact: liu.6544@osu.edu
 *   Update Date:2017.10.04
 *
 * ******************************************************* */

//------------------------------------methods------------------------------------
#container {
  height: 100%;
  width: 100%
}

#map {
  height: 100%;
  1position: absolute;
  1top: 0;
  1bottom: 0;
  1right: 0;
  1left: 0;
}

#info-pane {
  position: absolute;
  top: 10px;
  right: 200px;
  z-index: 10;
  padding: 1em;
  background: white;
}

#title {
  position: absolute;
  top: 10px;
  right: 350px;
  z-index: 100;
  1float: right;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px;
  background: rgba(255, 255, 255, 0.56);
}

#sidebar {
  width: 250px;
}

.list-complete-item {
  padding: 4px;
  margin-top: 4px;
  border: solid 1px;
  transition: all 1s;
}

.list-complete-enter,
.list-complete-leave-active {
  opacity: 0;
}

.pre-scrollable {
  max-height: 80%;
  overflow: auto;
  -ms-word-wrap: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: pre;
}

.glyphicon glyphicon-list {
  font-size: 75px;
}

.mini-submenu {
  margin-top: 30px;
  margin-left: 40px;
  display: none;
  background-color: white;
  border: 0px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  position: absolute;
  z-index: 900;
  width: 42px;
  box-shadow: 2px 2px 5px gray;
}

.mini-submenu:hover {
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

.panel-heading {
  width: 250px;
}

.panel-body {
  width: 250px;
}

.accordion-wrapper {
  display: block;
  height: 350px;
  max-height: 100%;
}

#accordion {
  max-width: 36.125rem;
  margin-left: 15px;
}

.panel-group {
  -webkit-backface-visibility: hidden;
}

.panel-body {
  -webkit-backface-visibility: hidden;
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}